.logo {
    position: absolute;
    /* max-width: 100%; */
    /* height: 90%; */
  }

  .navlogo {
    /* position: absolute;  */
    height: 100%;
    width: 100%;
    line-height: 100%;
    display: flex;
    /*justify-content: center; 
    align-items: center; */
  }