.logo1 {
    

    display: block; /* centers the image vertically within the div */
   
  }

  .banner1 {
    position: absolute; /* positions the image on top of the div */
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }